
/* heading 1 animation */
    @keyframes example {
                        from {background-color: red;}
                        to {background-color: rgb(46, 230, 22);}
                        } 
    h1 {
        color: white;
        text-align: center ;
        animation-name: example;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0.0001 s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

/*heading 3 animation */
    @keyframes blinkingText{
                            0%{     color: rgb(218, 206, 206); }
                            49%{    color: rgb(235, 226, 226); }
                            60%{    color: transparent; }
                            99%{    color:transparent;  }
                            100%{   color: rgb(206, 195, 195);  }
                            }       

    h3{
        text-align: center;
        color: white;
        font-size: 35px;;
        animation:blinkingText 1.1s infinite;
       }

    h2,h4{
        color: white;
        text-align: center;
        margin: 0 auto ;
        margin-bottom: 20px;
        font-size: 30px; 
        
       }
       h2{
        font-family: 'EB Garamond', serif;
       }
    

    body{
        background-color: black;
        }

    span,strong{
         color: white;
        font-weight: lighter;
        }

    .date_cs{
         color:white;
        font-size: 17px;
        font-weight: bold;
        padding-left: 20px;
        }
        

/* For icons*/
    .date_icon{
        color:rgb(250, 125, 9);
        padding-right:9px;
        transform: scale(1.5);
        }

        .time_icon{
            color:rgb(250, 125, 9);
           padding-right:7px;
            transform: scale(1.4);
            }

    .confirm_icon{
        color: rgb(252, 167, 10);
        transform: scale(1.5);
        padding-right: 9px;
        }

    .recover_icon{
        color: rgb(11, 194, 11);
        transform: scale(1.5);
        padding-right: 9px;
        }

    .death_icon{
        color: rgb(240, 32, 32);
        transform: scale(1.4);
        padding-right: 13px;
        }

/*For divs*/
    .row{
        margin-top:1px;
        justify-content: left;
        padding: 30px;   
        }

    .main{
        border: 1px solid red;
        outline: #34c707 solid 2px;
        width: 350px;
        height: 310px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 7px;
        text-align: center;
        background-color: rgb(78, 75, 75);
        margin-top: 55px;
        transition: transform .10s;         
      }
   
    .main:hover{ transform: scale(0.8); }
    .main_total{
               margin-top: 13px;
               color:white;
               font-size: 17px;
               font-weight: bold;
               
               text-decoration: underline 2px;
               text-decoration-color: rgb(16, 177, 24);
               text-underline-position: under;
               text-underline-offset: 4px;                     
                };


    @media (max-width: 800px)
    {
        .main{
             width:23px;
            height: 50px;
            margin-right: 10px;
            float: none;
            left: 80px;
            margin-top: 1x;
            }

        .main_total{
            font-weight: bold;
            font-size: 75px;
            }
    }   
